.top-marquee {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    color: #333;
    font-size: 40px;
    font-weight: bold;
}
.bottom-marquee {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #333;
    font-size: 40px;
    font-weight: bold;
}